@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@media only screen and (max-width: 768px) {

    .style li a{
        color:#00E3EF !important;
        font-size: 12px;
        padding: .8em;
        line-height: 1;
        border-bottom: none;
        border: 3px solid #00E3EF;
        font-size: 12px;
        font-family: 'Orbitron', sans-serif;
    }
    
    .nav-link{
        margin-bottom:12px;
    }
}

@media only screen and (min-width: 768px) {

    .style li a{
        border-radius: 10%;
        color:#00E3EF !important;
        font-size: 12px;
        padding: .8em;
        line-height: 1;
        border-bottom: none;
        border: 3px solid #00E3EF;
        font-size: 12px;
        font-family: 'Orbitron', sans-serif;
    }
    
    
    .nav-link{
        margin-left:12px;
    }
    
    #faq-link{
        margin-right:12px;
    }
    
    .glitch {
      color: white;
      font-size: 100px;
      position: relative;
      width: 400px;
      margin: 0 auto;
    }
    @keyframes noise-anim {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          $top: random(100);
          $bottom: random(101 - $top);
          clip-path: inset(#{$top}% 0 #{$bottom}%  0);
        }
      }
    }
    .glitch::after {
      content: attr(data-text);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 red;
      top: 0;
      color: white;
      background: black;
      overflow: hidden;
      animation: noise-anim 2s infinite linear alternate-reverse;
    }

    @keyframes noise-anim-2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          $top: random(100);
          $bottom: random(101 - $top);
          clip-path: inset(#{$top}% 0 #{$bottom}%  0);
        }
      }
    }
    .glitch::before {
      content: attr(data-text);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: white;
      background: black;
      overflow: hidden;
      animation: noise-anim-2 15s infinite linear alternate-reverse;
    }
    
    
}
.navbar-dark{
    background-color:black;
    border-bottom: 1px solid #d500fb;
    margin-bottom: 2.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

