@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');


body{
    /* background: url("../../img/demo3/bg11.jpg"); */
    background-image: url("../../img/demo3/glowing_blr.png");
    /* background: url("../../img/demo3/background.jpg"); */
    color:white;
    background-position: center;
    background-attachment: fixed;
    overflow-x: none;
    background-size:cover;
    background-repeat: no-repeat;
}


.active a{
  color: #33414a;
  background: white;
  border: 3px solid;
}


.footer{
	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.49);

 }
 .footer_text{
 	font-size: 18px;
 	color:white;
 	font-weight: 400;
 	line-height: 150px;
    text-align: center;
 }

.header{
    margin-top: 70px;
    background-color: transparent;
}
header.header{
    font-family: 'Sedgwick Ave Display', cursive;
    transform: translateY(-50%);
}
header.header h1{
    font-size: 8rem;
    color: #222222;
    text-align: center;
    
    text-transform: uppercase;
    font-weight: 900;
}

.glitch-window{
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #222222;
    text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
    overflow: hidden;
    -webkit-animation: crt-me 2500ms infinite linear alternate-reverse;
    -moz-animation: crt-me 2500ms infinite linear alternate-reverse;
    -o-animation: crt-me 2500ms infinite linear alternate-reverse;
    animation: crt-me 2500ms infinite linear alternate-reverse;
}

@keyframes crt-me {
     0% {
        clip: rect(31px, 9999px, 94px, 0)
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }
    30% {
        clip: rect(27px, 9999px, 97px, 0)
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }
    70% {
        clip: rect(34px, 9999px, 115px, 0)
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }
    100% {
        clip: rect(82px, 9999px, 64px, 0)
    }
}
@media only screen and (max-width: 600px) and (min-width: 200px)  {
	header.header h1{
	    font-size: 3rem;
	    color: #222222;
	    text-align: center;
	    
	    text-transform: uppercase;
	    font-weight: 900;
	}
	.glitch-window{
		display: none;
	}
	.cd-logo img {
	  margin-top: -0px;
	   height: 50px;
	}
}