 body{
    background: url("../../img/demo3/bg11.jpg");
}
main{
  	font-family: 'Orbitron',sans-serif;
  	  }
    .footer{
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.49);

 }
 .footer_text{
  font-size: 18px;
  color:white;
  font-weight: 400;
  line-height: 150px;
    text-align: center;
 }
 .container{
  min-height:400px;
 }
 
 .slogo{
 	height: 150px;
 	width: 200px;
 	margin: 50px;
 	margin-left: 100px;
 	margin-bottom: 50px;
 }
 .logoimg{
 	height: 150px;
 	width: 200px;
 }
  .logoimgSponsors{
  height: 100px;
  width: 300px;
 }
 .container{
 	text-align: center;
 }

@media only screen and (max-width: 600px) and (min-width: 200px)  {
    header.header h1{
        font-size: 3rem;
        color: #222222;
        text-align: center;
        
        text-transform: uppercase;
        font-weight: 900;
    }
    .glitch-window{
        display: none;
    }
    .cd-logo img {
      margin-top: -0px;
       height: 50px;
    }
      .logoimgSponsors{
    height: 100px;
    width: 200px;
   }
}
