body{

}
.title{
	text-align: center;
	font-family: 'Block',sans-serif;
	font-size: 120px;
	color: rgba(13, 206, 237, 0.83);
	margin-top: 20px;
}
.tagline{
	font-size: 40px;
	text-align: center;
	font-family: 'Lobster',sans-serif;
}
.details{
	font-family: 'Jura',sans-serif;
	font-size:15px;
	font-weight: 700;
}
.subtitle{
	font-family: 'Orbitron',sans-serif;
	font-size: 50px;
	text-align: center;
	margin-top: 5vh;
	text-transform: uppercase;
}